name: Playwright Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install "poetry==1.8.5"

      - name: Install dependencies
        run: |
          poetry install --no-interaction --no-root

      - name: Ensure browsers are installed
        run: |
          poetry run python -m playwright install --with-deps

      - name: Run your tests
        run: |
          poetry run pytest --tracing=retain-on-failure

      - name: Upload Playwright traces
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: playwright-traces
          path: test-results/
